<h1>一覧</h1>

<p><%= notice %></p>

<div class ="task_row">
  <table>
    <tr>
      <th>名前</th>
      <th>詳細</th>
    </tr>

    <% @tasks.each do |task| %>
  <tr>
      <td><%= task.name %></td>
      <td><%= task.detail %></td>
      <td><%= link_to '詳細', task_path(task.id) %></td>
      <td><%= link_to '編集', edit_task_path(task.id) %></td>
      <td><%= link_to '削除', task_path(task.id), method: :delete %></td>
    <% end %>
  </tr>

  </table>
</div>





<%= link_to '新規作成', new_task_path %>
